<mat-drawer-container class="drawer-container">

    <!-- drawer to add new employee/user form starts -->
    <mat-drawer #drawer mode="over" position="end" class="drawer-panel">
      <div class="drawer-title">Create Employee</div>
      <form class="employee-form">
        <!-- Employee Name -->
        <mat-form-field appearance="outline">
          <mat-label>Employee Name</mat-label>
          <input matInput placeholder="Enter Name">
        </mat-form-field>
  
        <!-- Email -->
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter Email">
        </mat-form-field>
  
        <!-- Gender -->
        <mat-form-field appearance="outline">
          <mat-label>Gender</mat-label>
          <mat-select>
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Contact Number -->
        <mat-form-field appearance="outline">
          <mat-label>Contact Number</mat-label>
          <input matInput placeholder="Enter Contact Number">
        </mat-form-field>
  
        <!-- Parent Department -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Department</mat-label>
          <mat-select (selectionChange)="onParentDepartmentChange($event.value)">
            @for (dept of parentdepartments; track dept.deptId) {
              <mat-option [value]="dept.deptId">
                {{ dept.departmentName }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Child Department</mat-label>
          <mat-select>
            @for (dept of childdepartments; track dept.childDeptId) {
              <mat-option [value]="dept.childDeptId">
                {{ dept.role }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
  
        <!-- Actions -->
        <div class="form-actions">
          <button type="button" mat-raised-button color="warn" (click)="drawer.close()">
            <mat-icon>
                close
            </mat-icon>  
            Cancel
          </button>
          <button type="button" mat-raised-button color="primary">
            <mat-icon>
                check
            </mat-icon>
            Save
          </button>
        </div>
      </form>
    </mat-drawer>
    <!-- drawer to add new employee/user form ends -->
  
    <!-- employee/user list grid : starts -->
    <div class="table-container">
      <div class="table-header">
        <div class="table-title">Employee List</div>
        <button mat-raised-button color="primary" (click)="drawer.open()">
            <mat-icon>
                add
            </mat-icon>            
            Create Employee
        </button>
      </div>
  
      <table mat-table [dataSource]="dataSource" class="styled-table">
        <ng-container matColumnDef="srNo">
          <th mat-header-cell *matHeaderCellDef> SR No </th>
          <td mat-cell *matCellDef="let element; let i = index"> 
            {{ i + 1 + (paginator.pageSize * paginator.pageIndex) }} 
          </td>
        </ng-container>
  
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Employee Name </th>
          <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
        </ng-container>
  
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.employeeEmailId}} </td>
        </ng-container>
  
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef> Gender </th>
          <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>
  
        <ng-container matColumnDef="contact">
          <th mat-header-cell *matHeaderCellDef> Contact Number </th>
          <td mat-cell *matCellDef="let element"> {{element.contactNumber}} </td>
        </ng-container>
  
        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef> Department </th>
          <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
        </ng-container>
  
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef> Role </th>
          <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>
  
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button matTooltip="Edit">
               <img src="images/edit.gif" alt="edit"/>
            </button>
            <button mat-icon-button matTooltip="Delete">
                <img src="images/bin.gif" alt="delete"/>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
    </div>
    <!-- employee/user list grid : ends -->

  </mat-drawer-container>
  