.no-data {
    text-align: center;
    font-size: 16px;
    color: gray;
    font-style: italic;
    padding: 20px;
  }
  
  .no-data-row {
    text-align: center;
  }
  

  .table-container {
    max-width: 95%;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .table-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .styled-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background: white;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .mat-header-cell {
    background: #007bff;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 10px;
  }
  
  .mat-cell, .mat-header-cell {
    padding: 12px;
  }
  
  tr.mat-row:hover {
    background-color: #f1f1f1;
  }
  
  .edit-btn {
    color: #007bff;
  }
  
  .delete-btn {
    color: #dc3545;
  }
  
  .edit-btn:hover, .delete-btn:hover {
    opacity: 0.7;
  }
  