
.login-card {
    max-width: 400px;
    top: 8rem;
    left: 30rem;
    padding: 1rem;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  button {
    width: 100%;
  }

  mat-card-header {
    display: flex;
    justify-content: center;
  }

  .mat-mdc-unelevated-button[disabled], .mat-mdc-unelevated-button.mat-mdc-button-disabled{
    background-color: #a5a8ef !important;
  }

  .login-card img {
    max-width: 20%;   /* Ensures the image fits within the card */
    height: auto;      /* Keeps aspect ratio */
    display: block;
    margin: 10px auto;
  }