
.login-card {
    max-width: 400px;
    // margin: 2rem auto;
    // padding: 1rem;
    top: 10rem;
    left: 30rem;
    padding: 1rem;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  button {
    width: 100%;
  }

  mat-card-header {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }